<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Manage Users</title>
    <link rel="stylesheet" href="styles.css" />
</head>
<body>
    <h1>Manage Users</h1>
    <button onclick="showUserCreateForm()">Create New User</button>
    <table id="usersTable">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Username</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="usersTableBody">
            <!-- Les lignes des utilisateurs seront ajoutées ici -->
        </tbody>
    </table>

    <div id="userFormContainer" style="display: none">
        <h2 id="formTitle"></h2>
        <form id="userForm">
            <input type="hidden" id="userId" name="userId" />
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required />

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" />

            <label for="role">Role:</label>
            <input type="text" id="role" name="role" required />

            <button type="submit" id="formSubmitButton">Create</button>
        </form>
    </div>

    <script src="../js/users.js"></script>
</body>
</html>
